# //INFO: Specialized compose for Coolify production
services:
  naira-scraper:
    build: .
    volumes:
      - nairaland_data:/app/data
    environment:
      - PYTHONUNBUFFERED=1
    networks:
      - coolify

volumes:
  nairaland_data:


networks:
  coolify:
    external: true
